static/uploads/resume.pdf filter=lfs diff=lfs merge=lfs -text
assets/media/icon.png filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/wemaintain.png filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/epita.png filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/org-x.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/pomona.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/viasema.png filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/viasema.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/epita.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/org-gc.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/wemaintain.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/brands/linux_foundation.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/helm.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/jenkins.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/python.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/aws.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/azure.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/csharp.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/github.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/istio.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/terraform.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/gitlab.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/ansible.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/c.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/docker.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/java.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/js.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/kubernetes.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/rancher.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/argocd.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/bash.svg filter=lfs diff=lfs merge=lfs -text
assets/media/icons/skills/cpp.svg filter=lfs diff=lfs merge=lfs -text
content/en/post/aws-complexity/featured.jpg filter=lfs diff=lfs merge=lfs -text
content/fr/post/2-aws-complexity/featured.jpg filter=lfs diff=lfs merge=lfs -text
content/fr/post/3-ide-spying-on-me/featured.jpg filter=lfs diff=lfs merge=lfs -text
